/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Khand|Raleway");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: inherit; }

header {
  background-color: #efefef;
  border-bottom: 3px solid darkgray;
  max-width: 100%;
  height: 100px; }

.button-to-ASL {
  background-color: darkgray;
  border-top: 1px solid #545454;
  border-left: 1px solid #545454;
  border-bottom: 3px solid #545454;
  border-right: 3px solid #545454;
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  width: 150px;
  text-align: center;
  color: #efefef;
  float: left; }

.button-to-ASL:hover {
  border-bottom: 1px solid #545454;
  border-right: 1px solid #545454; }

.button-to-English {
  background-color: darkgray;
  border-top: 1px solid #545454;
  border-left: 1px solid #545454;
  border-bottom: 3px solid #545454;
  border-right: 3px solid #545454;
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  width: 150px;
  text-align: center;
  color: #efefef;
  float: right; }

.button-to-English:hover {
  border-bottom: 1px solid #545454;
  border-right: 1px solid #545454; }

.home-header {
  margin-top: 20px;
  padding: 20px;
  color: #ff383e;
  text-align: center;
  font-size: 5em; }

.home-paragraph {
  padding: 20px;
  color: #ff383e;
  text-align: center;
  font-size: 2em; }

body {
  background-image: url("/images/bg-content.jpg"); }

h1 {
  font-family: "Khand", sans-serif;
  font-size: 3em;
  padding: 10px; }

p {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  padding: 10px; }

.container {
  margin: 0 auto;
  max-width: 90%; }

.recorder-container {
  float: left;
  padding: 20px;
  margin: 20px;
  max-width: 40%;
  text-align: center; }

video {
  background-color: black;
  height: 400px;
  width: 500px; }

.textarea {
  margin-top: 20px;
  width: 500px;
  height: 200px;
  background-color: #efefef;
  font-family: "Raleway", sans-serif;
  font-size: 1em; }

.youtube-container {
  float: right;
  padding: 20px;
  margin: 20px;
  max-width: 45%;
  text-align: center; }

.iframeName {
  height: 300px;
  width: 500px;
  background-color: black;
  padding: 25px;
  margin: 25px; }

.results {
  background-color: yellow;
  width: 100%; }

/*# sourceMappingURL=style.css.map */
