body{
  background-image: url("/images/bg-content.jpg");
};

h1{
  margin-top: 15px;
  font-family: $headerfont;
  font-size: 3em;
  padding: 10px;
  text-shadow: 2px 2px 5px $carbon;
}

p{
  font-family: $bodyfont;
  font-size: 1.2em;
  line-height: 1.2em;
  padding: 10px;
  color: $slate;
}

li{
  font-family: $headerfont;
  color: black;
  font-size: 2.2em;
  text-shadow: 2px 2px 5px $carbon;
  // line-height: 2.2em;
}
