header{
  background-color: $neutral;
  border-bottom: 3px solid $carbon;
  max-width: 100%;
  height: 100px;
}

.button-to-ASL{
  @include headerText;
  float: left;
};

.button-to-English{
  @include headerText;
    float: right;
};

.button-to-home{
@include  headerText;
  float: right;
  margin-right: 33%;
};

.button-to-home:hover{
  color:$watermelon;
}

.button-to-ASL:hover{
  color:$watermelon;
};

.button-to-English:hover{
    color:$watermelon;
};
