.home-header{
  margin-top: 20px;
  padding: 20px;
  color:$watermelon;
  text-align: center;
  font-size: 5em;
}

.home-paragraph{
  padding: 20px;
  color:$watermelon;
  text-align: center;
  font-size: 2em;
}
