@mixin theButton{
  background-color: $carbon;
  border-top: 1px solid $slate;
  border-left:1px solid $slate;
  border-bottom: 3px solid $slate;
  border-right:3px solid $slate;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  font-family: $bodyfont;
  font-size: .7em;
  width: 80px;
  text-align: center;
  color: $neutral;
};

@mixin headerText {
  font-family: $bodyfont;
  padding: 15px;
  margin: 15px;
  font-size: 2em;
  color:$slate;
}
