.container{
  margin: 0 auto;
  max-width: 90%;
}
.recorder-container{
  float:left;
  padding: 20px;
  margin: 20px;
  max-width: 40%;
  text-align: center;
};

video {
  background-color: black;
  height: 400px;
  width: 500px;
};

.textarea{
  margin-top: 20px;
  width: 500px;
  height: 200px;
  background-color: $neutral;
  font-family: $bodyfont;
  font-size: 1em;
  color:$carbon;
}

button{
  @include theButton
};
