.youtube-container{
  float:right;
  padding: 20px;
  margin: 20px;
  max-width: 45%;
  text-align: center;
};

.iframeName{
  height: 300px;
  width: 500px;
  background-color: black;
  padding: 25px;
  margin: 25px;
};

.results {
  background-color: yellow;
  width: 100%;
};

input{
  background-color: $neutral;
  font-family: $bodyfont;
  font-size: 1em;
}
