.youtube-container{
  float:right;
  padding: 20px;
  margin: 20px;
  max-width: 45%;
  text-align: center;
};

.iframeName{
  height: 300px;
  width: 500px;
  background-color: black;
  padding: 25px;
  margin: 25px;
};

.results {
  background-color: $carbonOp;
  max-width: 100%;
  border-radius: 20px;
};

.results li{
  font-family: $headerfont;
  color: black;
  font-size: 2.2em;
  text-shadow: 2px 2px 5px $carbon;
  line-height: 2.2em;
}

.results p{
  font-family: $bodyfont;
  font-size: .5em;
  line-height: 1.2em;
  padding: 20px;
  color: $slate;
}
.results a:hover{
  color:$watermelon;

}
input{
  background-color: $neutral;
  font-family: $bodyfont;
  font-size: 1em;
}

@media (max-width: 1190px){

  .youtube-container{
    margin: 0 auto;
    float: none;
    max-width: 100%;
  };

 .iframeName{
    margin: 0px;
  }

}
